<!DOCTYPE html>
<html ng-app="millionaire">
<head>
    <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="../node_modules/underscore/underscore.js"></script>
    
    <script type="text/javascript" src="questions.js"></script>
    <script type="text/javascript" src="scripts.js" ></script>

    <link type="text/css" rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="styles.css" />
</head>
<body ng-controller="main">
    <div class="content">
        <div class="help">
            <img src="img/50.png" />
            <img src="img/audience.png" />
            <img src="img/phone.png" />
            <img src="img/give_up.png" />
        </div>
        <div class="score">
            <div ng-repeat="price in prices" class="price"
                 ng-class="{ 'no-burn': $index % 5 === 0, 'current': $index === 15 - current}">
                <div class="price-index">{{ 15 - $index }}</div>
                <div class="price-value">{{ price }}</div>
            </div>
        </div>
    </div>
    <div class="qa">
        <div class="question">
            <div class="question-holder">
                {{ currQuestion.question }}
            </div>
        </div>
        <div class="row">
            <div ng-repeat="answer in currQuestion.answers" class="answer col-md-6">
                <span class="answer-choise">{{answerChoices[$index]}}:</span>
                {{ answer.label }} {{ answer.isCorrect }}
            </div>
        </div>
    </div>
    <audio>
        <source src="sounds/audience_start.mp3" type="audio/mpeg">
        <source src="sounds/audience_loop.mp3" type="audio/mpeg">
        <source src="sounds/audience_end.mp3" type="audio/mpeg">
    </audio>
</body>
</html>