body {
  background: url("img/logo.jpg") no-repeat #000;
  background-size: 60%; }

.help {
  height: 50px;
  text-align: right;
  margin: 20px 10% 30px; }
  .help img {
    cursor: pointer;
    height: 100%; }

.content {
  overflow: hidden; }
  .content .score {
    float: right;
    color: #ac987b;
    margin-right: 20%; }
    .content .score .price {
      clear: both;
      overflow: hidden;
      padding: 0 20px; }
      .content .score .price.no-burn {
        color: white; }
      .content .score .price.current {
        background-color: #ff9200; }
        .content .score .price.current .price-index {
          color: white; }
        .content .score .price.current .price-value {
          color: #3E0F00; }
      .content .score .price .price-index {
        float: left;
        width: 20px;
        text-align: right;
        margin-right: 15px; }
      .content .score .price .price-value {
        float: left;
        font-weight: bold; }

.qa {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0; }
  .qa .question {
    display: table;
    width: 100%;
    background: url("img/field.png");
    background-position-x: center;
    background-size: 100% 100%;
    min-height: 65px;
    padding: 6px 20%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center; }
    .qa .question .question-holder {
      display: table-cell;
      vertical-align: middle; }
  .qa .row {
    margin: 0 8%; }
    .qa .row .answer {
      background: url("img/field.png");
      background-position-x: center;
      background-size: 115% 100%;
      min-height: 50px;
      padding: 10px 11%;
      margin: 5px 0 0;
      color: white;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer; }
      @media screen and (max-width: 991px) {
        .qa .row .answer {
          background-size: 100% 100%; } }
      .qa .row .answer.select {
        background-image: url("img/field_select.png"); }
      .qa .row .answer.correct {
        background-image: url("img/field_correct.png"); }
      .qa .row .answer:nth-child(odd) {
        background-position-x: left;
        padding-right: 3%; }
        @media screen and (max-width: 991px) {
          .qa .row .answer:nth-child(odd) {
            background-position-x: center;
            padding: 10px 20%; } }
      .qa .row .answer:nth-child(even) {
        background-position: right;
        padding-left: 4%; }
        @media screen and (max-width: 991px) {
          .qa .row .answer:nth-child(even) {
            background-position-x: center;
            padding: 10px 20%; } }
      .qa .row .answer .answer-choise {
        color: #FC8600; }
