$g-m: 991px;

@mixin forScreen($val, $query: max-width) {
  @media screen and ($query: $val)  { @content; }
}

body {
    background: url('img/logo.jpg') no-repeat #000;
    background-size: 60%;
}

.help {
    height: 50px;
    text-align: right;
    margin: 20px 10% 30px;
    
    img{
        cursor: pointer;
        height: 100%;
    }
}
.content {
    overflow: hidden;

    .score {
        float: right;
        color: #ac987b;
        margin-right: 20%;

        .price {
            clear: both;
            overflow: hidden;
            padding: 0 20px;

            &.no-burn {
                color: white;
            }
            &.current {
                background-color: #ff9200;

                .price-index {
                    color: white;
                }
                .price-value {
                    color: #3E0F00;
                }
            }
            .price-index {
                float: left;
                width: 20px;
                text-align: right;
                margin-right: 15px;
            }
            .price-value {
                float: left;
                font-weight: bold;
            }
        }
    }
}

.qa {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;

    .question {
        display: table;
        width: 100%;
        background: url('img/field.png');
        background-position-x: center;
        background-size: 100% 100%;
        min-height: 65px;
        padding: 6px 20%;
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-align: center;

        .question-holder {
            display: table-cell;
            vertical-align: middle;
        }
    }
    .row {
        margin: 0 8%;

        .answer {
            background: url('img/field.png');
            background-position-x: center;
            background-size: 115% 100%;
            min-height: 50px;
            padding: 10px 11%;
            margin: 5px 0 0;
            color: white;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;

            @include forScreen($g-m) {
                background-size: 100% 100%;
            }
            &.select {
                background-image: url('img/field_select.png');
            }
            &.correct {
                background-image: url('img/field_correct.png');
            }
            &:nth-child(odd) {
                background-position-x: left;
                padding-right: 3%;

                @include forScreen($g-m) {
                    background-position-x: center;
                    padding: 10px 20%;
                }
            }
            &:nth-child(even) {
                background-position: right;
                padding-left: 4%;

                @include forScreen($g-m) {
                    background-position-x: center;
                    padding: 10px 20%;
                }
            }
            .answer-choise {
                color: #FC8600;
            }
        }
    }
}